# Neo4j Datenbank
NEO4J_USER=neo4j
NEO4J_PASSWORD=knownet123

# GitHub OAuth (für witch-auth Login)
GITHUB_CLIENT_ID=Ov23liAvo1qWmTF4uEZn
GITHUB_CLIENT_SECRET=58fa5b71ae71d527c1ec5ab88438d311cb1538cd

# GitHub Token für Maven Build (witch-auth Dependency)
GITHUB_TOKEN=your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
